.body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.cont h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #E8BE02;
}

.cont p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #4F4D53;
    line-height: 24px;
}

.header {
    background-image: url('../media/img_hero.jpg');
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #4F4D53;
    height: 500px;
    padding-top: 10%;
}

.topbar {
    font-family: 'Roboto', sans-serif;
    height: 48px;
    background-color: #4F4D53;
    color: #fff;
    font-size: 24px;
    line-height: 48px;
}

.cont {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.faces {
    margin-top: -100px;
}

.faces img {
    width: 100%;
    max-width: 200px;
}

footer {
    border-top: 12px solid #E8BE02;
    height: 320px;
    background-color: #4F4D53;
}

.foot h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #E8BE02;
}

.foot h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

@media only screen and (min-device-width: 768px) {
    .cont {
        width: 80%;
        margin: 0 auto;
    }
}
